* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.background {
  background: #170999;
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  margin-top: 10%;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.tile {
  border: 1px solid #170999;
  background: #fff;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.playerX {
  color: #09c372;
}

.playerO {
  color: #498afb;
}

.controls button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.restart {
  background-color: #498afb;
}

#reset {
  background: #439909;
}

#xBtn,
#oBtn {
  background: #780794;
}
